    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <div>
                <span>For more information, visit:</span>
                <a href="https://bd.usembassy.gov/" target="_blank" class="btn btn-link">US Embassy Bangladesh</a>
            </div>
            <div>
                <span>Follow us on:</span>
                <a href="https://www.facebook.com/bangladesh.usembassy" target="_blank" class="btn btn-facebook">
                    <i class="fab fa-facebook-f"></i> Facebook
                </a>
            </div>
        </div>
    </footer>